// Color naming convention: '1' represents the lightest shade.

$blue-1: #545f7d;
$blue-2: #213f7d;

$green-1: #39cd62;

$yellow-1: #e9b200;

$teal-1: #39cdcc;

$red-1: #ff3366;

$orange-1: #f55f44;

$purple-1: #5718ff;

$pink-1: #df18ff;
