// Color naming convention: '1' represents the lightest shade.

$blue-1: #545f7d;
$blue-2: #213f7d;

$green-1: #39cd62;

$yellow-1: #e9b200;

$teal-1: #39cdcc;

$red-1: #ff3366;

$orange-1: #f55f44;

$purple-1: #5718ff;

$pink-1: #df18ff;

// Function to set the opacity of colors
@function opacity($color, $opacity) {
  @return rgba($color, $opacity);
}

@mixin tealText() {
  font-size: 0.75rem;
  color: $teal-1;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
