@use '../../styles/colors' as *;

.passwordInput {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;

  &Field {
    position: relative;
    padding-right: 70px;
    width: 100%;
  }

  &Toggle {
    background: none;
    border: none;
    position: absolute;
    right: 12px;
    height: 80%;
    @include tealText;
    cursor: pointer;
  }
}
